<section class="hero --purple-gradient-2 mb-5">
  <figure class="bg-wrapper">
    <img src="https://www.deco.fr/sites/default/files/styles/full_1200x630/public/migration-images/1089199.jpg">
  </figure>
  <div class="wrapper hero__content">
    <div class="row">
      <div class="col-md-7 col-sm-12 col-xs-12">
        <div class="content">
          <h1>Modifiez votre annonce !</h1>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="container d-flex justify-content-around align-items-start">
  <div class="">
      <%= render 'form', ad: @ad %>

    <div class="gradient-button">
      <%= link_to 'Back', ads_path, class: "text-decoration-none text-white" %>
    </div>
  </div>


  <div class="mt-5"><%= cl_image_tag @ad.photo.key %></div>


</div>
