<div class="container d-flex justify-content-center">
  <div class="edit-form">
      <h1>Modifier votre annonce</h1>
      <%= render 'form', ad: @ad %>
  </div>

  <div class="img-plug">
  </div>
</div>
