<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url(https://images.unsplash.com/photo-1530545233050-3f0a5d0dd1ac?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1826&q=80);">
  <div class="container">
    <h1>Plug Ads</h1>
    <p>Rent your plug !</p>
    <a class="btn btn-flat"<%= link_to 'Nouvelle annonce', new_ad_path, class:"text-decoration-none" %></a>
  </div>
</div>





<div class="container mt-4">
<% if user_signed_in?%>
<h3 class="text-ads">Mes annonces de multiplug : </h3>
  <div class ="grid-cards">
   <% @my_ads.each do |ad| %>
      <%= render "card", ad: ad %>
      <% end %>
  </div>
<h3 class="text-ads">Découvrez les multiplug des autres utilisateurs ! </h3>
  <div class ="grid-cards">
  <% @other_ads.each do |ad| %>
      <%= render "card", ad: ad %>
      <% end %>
  </div>
  <% else %>
  <h3 class="text-ads">Toutes les annonces ! </h3>
  <div class ="grid-cards">
  <% @ads.each do |ad| %>
      <%= render "card", ad: ad %>
      <% end %>
  </div>
  <% end %>
</div>

<div class="footer">
  <div class="footer-links">
    <a href="https://github.com/KiwiHC16/Abeille/issues/1848"><i class="fab fa-github"></i></a>
    <a href="https://www.instagram.com/p/CZH3MBCMb2f/?hl=fr"><i class="fab fa-instagram"></i></a>
    <a href="https://m.facebook.com/natty7938/photos/a.220072178603404/989475988329682/"><i class="fab fa-facebook"></i></a>
    <a href="https://twitter.com/curti_design/status/1095307165395492868"><i class="fab fa-twitter"></i></a>
  </div>
  <div class="footer-copyright">
    Made with <i class="fas fa-fire-flame-curved"></i> by team NoCig
  </div>
</div>
