<h1></h1>

<section class="hero --purple-gradient-2">
  <figure class="bg-wrapper">
    <img src="https://www.deco.fr/sites/default/files/styles/full_1200x630/public/migration-images/1089199.jpg">
  </figure>
    <div class="wrapper hero__content">
      <div class="row">
        <div class="col-md-7 col-sm-12 col-xs-12">
          <div class="webcoderskull__subtext-wrapper ">
            <div class="webcoderskull__subtext --colored-white">DEVENEZ MULTIPLUGGER</div>
            </div>
            <div class="content">
              <h1>Ajoutez votre multiplug<br> et rentabilisez-le !</h1>
              <p>C'est le début de votre nouvelle aventure en tant que multiplugger</p>
            </div>
          </div>
        </div>
    </div>
</section>

<div class="container">

<%= render 'form', ad: @ad %>

<%= link_to 'Back', ads_path %>
</div>
