<% ratings.each do |rating| %>
  <div class="card m-3 p-3">
    <div class="review-star-container">
      <p>Posté par <%= @user_rating.first_name%>, le <%= rating.created_at %></p>
      <div class="stars">
        <%= render "shared/rate", average: rating.rate, class: "reviews-star"%>
      </div>
    </div>
    <div class="">
      <p class=""><%= rating.comment %></p>
    </div>
  </div>
<% end %>