.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: "Open Sans", sans-serif;
  border: 2px solid #35a857;
  border-radius: 12px
}

.mapboxgl-popup-content h2 {
  color: #134285;
}
