.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.input-group {
  width: 30%;
}

.btn-outline-primary {
  color: #35a857;
  border-color: #35a857;
}

.btn-outline-primary:hover {
color: #fff;
background-color: #35a857;
border-color: #35a857;
}

.logo img {
height: 40px;
width: 60px;
}
