.navbar-lewagon {
  justify-content: space-between;
  background: white;
  box-shadow: rgba(99, 99, 99, 0.2) 1px 1px 1px 1px;
  height: 80px;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.input-group {
  justify-content: center;
}


.input-group .rounded-pill{
  align-items: center;
}
.btn-outline-primary {
  color: #35a857;
  border-color: #35a857;
}
.button-bar-de-recherche {
}
.btn-outline-primary:hover {
color: #fff;
background-color: #35a857;
border-color: #35a857;
}

.logo img {
height: 40px;
width: 60px;
}
