.fa-star {
  color: $green-custom;
}

.review-rating {
  cursor:    pointer;
  font-size: 2rem;
}

.title-container{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 10px;
}