.reviews-star {
  display: flex;
  background-color: red;
}

.review-star-container {
  display: flex;
  justify-content: space-between;
  padding: 3px;
  gap: 100px;
}

.card-comment {
  border: 1px solid #b4b4b4;
  border-radius: 8px;

}